<%include ./partials/header.ejs%>
<body style="font-family:Gilroy;">
    <header class=" w-full h-8  p-1 bg-white " style="position: fixed;">
        <div class=" w-6 h-6  bg-transparent  float-left "><i class="fa fa-pinterest"
                style="font-size:20px;color:red"></i></i></div>
       <a href="/logout"> <div class=" bg-red-500 w-14 h-6  float-left pl-1 rounded-md " style="margin-left:2%">
            Logout </div></a>
            <a href="/DApost">  <div class="bg-red-500 w-14 h-6   float-left pl-1 rounded-md " style="margin-left:2%">
            P Delet</div>
            </a>
            <div class=" w-14 h-6  bg-transparent  float-left pl-1 rounded-xl hover:bg-red-200" style="margin-left:2%">
            Explor</div>
         <div class="float-left rounded-xl bg-gray-300 mr-2" style="width: 30%; margin-left: 2%;">
            <button class="w-6 h-6 ml-1 bg-transparent"><i class="fa fa-search"
                    style="color:rgb(77, 75, 75);"></i></button>
            <input class="ml-2 rounded-xl bg-gray-300 pl-" style="outline: none; width:65%;" type="search"
                placeholder="search...">
        </div>
        <button name="notification" class="float-right w-6 h-6 " style="margin-right: 2%;"><i class="fa fa-bell"
                style="font-size:14px; color: rgb(57, 55, 55);"></i></button>
        <button name="chat" class="float-right w-6 h-6 " style="margin-right: 2%;"><i class="fa fa-wechat"
                style="font-size:14px; color: rgb(57, 55, 55);"></i></button>
    </header>
    <!--Dialog start forom here-->
    <dialog id="myDialog" style=" width: 100%; height: 400px; margin-top: 160px; box-shadow: 0px 1px 10px 2px gray;" class="rounded-md" >
           <!-- Close button for the dialog -->
           <button class="float-right rounded-md w-8 h-8" id="closeDialogBtn"><i class="ri-close-fill"></i></button>
        <div>
            <!-- Dialog content goes here -->
            <!--this is for post -->
    <form class="mt-20 ml-20" action="/createpost"  method="post" enctype="multipart/form-data" id="createpost">
         <input class="outline-none mb-8" type="text" name="filecaption" placeholder="some caption for your post ..">
        <input required id="input" type="file" name="file" ><br>
       <button value="submit" type="submit" class="mt-8 rounded-md w-20 h-6 bg-green-500">Post</button>
      </form>
        </div>
    </dialog>
       <!--Dialog over forom here-->
  
    <!--From here profile code start-->
    <div class=" w-full h-40 mt-8 bg-white pt-2 pb-4 grid place-items-center"
        style="position:fixed;  box-shadow: 1px 1px 0px 1px rgba(57, 57, 57, 0.811); ">
        <div class="relative">
        <span id="uploadicon" class="mt-9 ml-9 w-6 h-6 absolute rounded-full flex items-center justify-center bg-zinc-300">
            <i class="ri-pencil-fill text-zinc-800"></i></span>
        <div class="w-14 h-14 bg-gray-300 overflow-hidden " style="  border-radius: 50%;">
            <img src="/images/uploads/<%=user.profileImage%>" alt="">
        </div>
    </div>
        <h1 class="m-0" style="font-size:18px;"><%=user.username%></h1>
        <p ><%=user.email%></p>
        <div>
            <p class="float-left text-sm">100k follower </p>
            <p class="float-right ml-2 text-sm">2 following</p>
        </div>
        <div>
            <button class="w-16 h-4 ml-2  bg-gray-300 float-left rounded-xl text-xs">Share</button>
            <button class="w-24 h-4 ml-2  bg-gray-300 float-left rounded-xl text-xs">Edit profile</button>
        </div>
    </div>
    <!--Profile post start from here-->
    <main style="height: 565px;overflow: hidden; overflow-y: scroll; padding-top: 190px;padding-bottom: 6px;">
        <div class=" h-6  bg-white " style="width: 100%;">
            <button style="margin-left: 37%;padding-right: 1%;" class="float-left h-6 pb-1  active:border-b-2 border-black  " >Created</button>
            <button style="margin-right: 37%;padding-left: 1%;" class="float-right h-6 active:border-b-2 border-black " >Saved</button>
              </div>
       
        <!-- single post start from here-->
        <% user.posts.forEach(function(post){%>
        <div style=" box-shadow: 1px 1px 1px 1px gray; float:left;" class=" w-32 rounded-xl mt-2 h-48 ml-2 px-1 pt-2 ">
            <div class="ml-3 w-7 h-7 bg-cover mr-1 overflow-hidden float-left" style="border-radius: 50%;"><img
                    src="/images/uploads/<%=user.profileImage%>" alt=""></div>
            <h5><%=user.username%></h5>
            <div class="overflow-hidden w-full h-32 pt-1">
                <img src="/images/uploads/<%=post.image%>" alt="">
            </div>
            <p class="ml-2"><%= post.imageText %></p>
        </div>
       <%})%> 
             <!-- single post over here-->
    </main>
       
      <!-- footer box start from here -->
    <footer class="bg-gray-300 w-full h-8 flex  " style=" position: fixed; margin-top: 0px;">
      <a href="/publicPage"> <div class="float-left w-5 h-6 pt-1 " style="margin-left: 22%;"><img 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAs
            TAAALEwEAmpwYAAACB0lEQVR4nM2UMYsTURDHV9RCOBQUwUoLsfDUzMQlRy7zz72dySJ3WucD+AFEO7+BYCn6Aew
            Eiwgqgnd2toKNoKWelV53np2ozG4Mm2Q3l+gWDjzYHd77/2bem5ko+l8t7uhZhj1m2C6LPV8OYakW4eUQlgh2h8R2
            CHZ7ZWX9KEEfMvT+v2ofYFifYB898ljS0yNo+8pxhn5prIaLf6V8qWuXGfqaYG8IiZTtYbGbJPZqIeFWq3eCxO55d
            C7Q7/cPVu0NIRxi2DvqJtf2FY7j+PAwoh0HxGl6bJ6AuKNXGfbBz1duaiLpZZFAt0j0QrSgEfQFid2apq+l51j0GcN
            +1bLEPrPYRtRut4+w6F2/Dob95K52ohqsISlYdDti6IBEH7VCOOXk4qbmqp7xymDRPb+yYmnOY5meH/ZmGTkKlokX0
            ibo5uIA6NMm9EYZgMW+Tdzt7sIArxSv87wbJzKAblVlQNJLCPqJkYSZgPxDH+QNVfIG0M1hJi//vEH+gHl2BP3e6Kr
            NBHjHZt06ASgzj9zfbbwk/X86kzE979yiw7uRoNeLXVkqPgMyBsjGw9CRjwp9kh/Wgf8319LzleIVkKkbcce4uA2XDh
            g4ybC3+3ew7nmmlYBpcRtBvBlJ7Ou8kHLAjEWw9yT6Y75ZlF/nOMAHVF3DDhlkexKw4c66xJvorc8u+hrsN34MkkHv+
            zyoAAAAAElFTkSuQmCC"></a></div>
        <button class="float-left w-5 h-6 pt-1 " id="openDialogBtn" style="margin-left: 22%;"><i class="fa fa-plus" 
            style="font-size:24px;"></i></button>
        <div class="float-left w-6 h-7 pt-1 " style="margin-left: 22%;"> <a href="/profile">
             <div class=" w-full h-full bg-cover overflow-hidden float-left" style="border-radius: 50%;"><img
            src="/images/uploads/<%=user.profileImage%>" alt=""></div></a>
   </div>
    </footer>
    <!--this is for  change dp-->
    <form action="/fileupload" id="uploadform" method="post" enctype="multipart/form-data" hidden>
        <input type="file" name="image">
    </form> 
        <script>
        document.querySelector("#uploadicon").addEventListener("click",function () {
            document.querySelector('#uploadform input').click();
        })

        document.querySelector("#uploadform input").addEventListener('change',function () {
            document.querySelector('#uploadform').submit();
        })
      
/*
        document.querySelector('#createpostbutton').addEventListener('click',function(){
            document.querySelector('#createpost #input').click();
        })
        document.querySelector("#createpost #input").addEventListener('change',function(){
            document.querySelector("#createpost").submit();
        })
        */



        const openDialogBtn = document.getElementById('openDialogBtn');
    const closeDialogBtn = document.getElementById('closeDialogBtn');
    const myDialog = document.getElementById('myDialog');

    openDialogBtn.addEventListener('click', () => {
        // Show the dialog
        myDialog.showModal();
    });

    closeDialogBtn.addEventListener('click', () => {
        // Close the dialog
        myDialog.close();
    });
    </script>
</body>
<%include ./partials/navebar.ejs%>